# Large Bellhop files
*.ray
*.prt
*.arr
*.shd

# MATLAB temporary files
*.asv

# Build artifacts
*.o
*.exe

# acoustics toolbox dependency
at/

# Some larger pdf files
Computational-Ocean-Acoustics.pdf
Underwater acoustics presentation.pdf
